<div *ngIf="p">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()"> <!-- 2 con il formgroup ci salviamo tutti i campi e li usiamo nel .ts-->
        <div> 
            <label for="name"> Name </label> 
            <input id="name" type="text" [(ngModel)]="p.name" formControlName="name"> <!-- 1 Con ngmodel riempiamo i campi del form con i dati della persona nel .ts
                                                                                            e riceviamo gli eventuali cambiamenti scritti in input-->
            </div> 
            <div> 
            <label for="lastname"> lastname </label>
             <input id="lastname" type="text" [(ngModel)]="p.lastname" formControlName="lastname"> 
            </div>
            <div> 
                <label for="email"> email </label>
                 <input id="email" type="email" [(ngModel)]="p.email" formControlName="email"> 
                </div>
                <div> 
                    <label for="eta"> eta </label>
                     <input id="eta" type="number" [(ngModel)]="p.eta" formControlName="eta"> 
                    </div>
         <button class="button" type="submit" >Modifica</button> 
        </form>
</div>
