<h1>Lista delle persone</h1> <button routerLink="/">Home</button>
<div *ngFor="let pers of persone"> 
    <ul>
    <li>
        <span>Id: {{pers.id}}</span><br>
        <span>Nome: {{pers.name}}</span><br>
        <span>Cognome: {{pers.lastname}}</span><br>
        <span>Email: {{pers.email}}</span><br>
        <span>Età: {{pers.eta}}</span><br>
       <button [routerLink]="['/modifica',pers.id]">Modifica</button> <!-- Al click si va alla pagina modifica passandogli l'id per sapere quale persona modificare-->
        <div *ngIf="pers.id">
            <button (click)="eliminaPersona(pers.id)">Elimina</button>
        </div>
        
    </li>
</ul>
</div>


